Package: omer-config
Version: 1.0-0
Section: base
Priority: optional
Architecture: all
Depends: python3-neovim, zsh, silversearcher-ag, git
Maintainer: Omer Sarig <omer@sarig.co.il>
Description: Omer's configuration
 The configuration of omer, ofcourse.
