[submodule "zcomet"]
	path = zsh/zcomet
	url = https://github.com/agkozak/zcomet
[submodule "dracula"]
	path = misc/dracula
	url = https://github.com/dracula/tmux
[submodule "misc/tmux-assistant-resurrect"]
	path = misc/tmux-assistant-resurrect
	url = https://github.com/timvw/tmux-assistant-resurrect
