[submodule "oh-my-zsh"]
	path = zsh/etc/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "packer.nvim"]
	path = neovim/etc/xdg/nvim/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "zsh-autosuggestions"]
	path = zsh/etc/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh/etc/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
