[submodule "auto-pairs"]
	path = omer-config/etc/xdg/nvim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "deoplete.nvim"]
	path = omer-config/etc/xdg/nvim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "fzf.vim"]
	path = omer-config/etc/xdg/nvim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "indentLine"]
	path = omer-config/etc/xdg/nvim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "lightline.vim"]
	path = omer-config/etc/xdg/nvim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "neosnippet.vim"]
	path = omer-config/etc/xdg/nvim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule "neosnippet-snippets"]
	path = omer-config/etc/xdg/nvim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "supertab"]
	path = omer-config/etc/xdg/nvim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "targets.vim"]
	path = omer-config/etc/xdg/nvim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim-better-whitespace"]
	path = omer-config/etc/xdg/nvim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim-commentary"]
	path = omer-config/etc/xdg/nvim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-easymotion"]
	path = omer-config/etc/xdg/nvim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim-highlightedyank"]
	path = omer-config/etc/xdg/nvim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim-indent-object"]
	path = omer-config/etc/xdg/nvim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim-monokai"]
	path = omer-config/etc/xdg/nvim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "vim-repeat"]
	path = omer-config/etc/xdg/nvim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-surround"]
	path = omer-config/etc/xdg/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-tmux-navigator"]
	path = omer-config/etc/xdg/nvim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim-unimpaired"]
	path = omer-config/etc/xdg/nvim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim-pathogen"]
	path = omer-config/etc/xdg/nvim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "LanguageClient-neovim"]
	path = omer-config/etc/xdg/nvim/bundle/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
	branch = next
[submodule "traces.vim"]
	path = omer-config/etc/xdg/nvim/bundle/traces.vim
	url = https://github.com/markonm/traces.vim
[submodule "vim-sleuth"]
	path = omer-config/etc/xdg/nvim/bundle/vim-sleut
	url = https://github.com/tpope/vim-sleuth
[submodule "vim-tmux-focus-events"]
	path = omer-config/etc/xdg/nvim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule "chromatica.nvim"]
	path = omer-config/etc/xdg/nvim/bundle/chromatica.nvim
	url = https://github.com/arakashic/chromatica.nvim
[submodule "vim-python-pep8-indent"]
	path = omer-config/etc/xdg/nvim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "semshi"]
	path = omer-config/etc/xdg/nvim/bundle/semshi
	url = https://github.com/numirias/semshi
[submodule "omer-config/etc/xdg/nvim/bundle/auto-pairs"]
	path = omer-config/etc/xdg/nvim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/deoplete.nvim"]
	path = omer-config/etc/xdg/nvim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/fzf.vim"]
	path = omer-config/etc/xdg/nvim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/indentLine"]
	path = omer-config/etc/xdg/nvim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/lightline.vim"]
	path = omer-config/etc/xdg/nvim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/neosnippet.vim"]
	path = omer-config/etc/xdg/nvim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/neosnippet-snippets"]
	path = omer-config/etc/xdg/nvim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/supertab"]
	path = omer-config/etc/xdg/nvim/bundle/supertab
	url = https://github.com/ervandew/supertab
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/targets.vim"]
	path = omer-config/etc/xdg/nvim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-better-whitespace"]
	path = omer-config/etc/xdg/nvim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-commentary"]
	path = omer-config/etc/xdg/nvim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-easymotion"]
	path = omer-config/etc/xdg/nvim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-highlightedyank"]
	path = omer-config/etc/xdg/nvim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-indent-object"]
	path = omer-config/etc/xdg/nvim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-monokai"]
	path = omer-config/etc/xdg/nvim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-repeat"]
	path = omer-config/etc/xdg/nvim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-surround"]
	path = omer-config/etc/xdg/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-tmux-navigator"]
	path = omer-config/etc/xdg/nvim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-unimpaired"]
	path = omer-config/etc/xdg/nvim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
	branch = master
[submodule "omer-config/etc/xdg/nvim/vim-pathogen"]
	path = omer-config/etc/xdg/nvim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/LanguageClient-neovim"]
	path = omer-config/etc/xdg/nvim/bundle/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
	branch = next
[submodule "omer-config/etc/xdg/nvim/bundle/traces.vim"]
	path = omer-config/etc/xdg/nvim/bundle/traces.vim
	url = https://github.com/markonm/traces.vim
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-sleut"]
	path = omer-config/etc/xdg/nvim/bundle/vim-sleut
	url = https://github.com/tpope/vim-sleuth
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-tmux-focus-events"]
	path = omer-config/etc/xdg/nvim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/chromatica.nvim"]
	path = omer-config/etc/xdg/nvim/bundle/chromatica.nvim
	url = https://github.com/arakashic/chromatica.nvim
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/vim-python-pep8-indent"]
	path = omer-config/etc/xdg/nvim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
	branch = master
[submodule "omer-config/etc/xdg/nvim/bundle/semshi"]
	path = omer-config/etc/xdg/nvim/bundle/semshi
	url = https://github.com/numirias/semshi
	branch = master
[submodule "fzf"]
	path = omer-config/usr/local/src/fzf
	url = https://github.com/junegunn/fzf
