### Uncomment this to enable random ascii art when running neovim
# export NVIM_RANDOM_DASHBOARD_ASCII_ART=true

### Uncomment this to enable command line vim keybindings
# export CONFIG_ZSH_VI_MODE=true

global_zsh_file=/usr/share/zsh/config/init.zsh
local_zsh_file=~/.local/zsh/config/init.zsh
if [ -f "$global_zsh_file" ]; then
    source $global_zsh_file
elif [ -f "$local_zsh_file" ]; then
    source $local_zsh_file
fi
